*
{
    padding: 0px;
    margin:  0px;
}

.card
{
    width: 21rem;
    height: 19rem;
    position: relative;
    margin: 50px auto;
    border-radius: 10px;
    font-family: tahoma;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
/* .card:hover
{
    transform: rotateY(180deg);
} */
.card > div
{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    background-color:azure;
}
/*front card*/
.card .front
{
    z-index: 1;
    backface-visibility: hidden;
}

.card .front p
{
    text-align: center;
}

.card .front form button
{
    background-color:rgba(53, 53, 231, 0.854);
  
    padding: 12px 60px 12px 60px; 
    margin-top:30px;
    cursor: pointer;
}

.f1
{
    padding: 13px 60px 13px 60px;
    border-radius: 4px;
    background-color:#f0f5f9;
    margin: 7px;
    border: none;
    text-align: center;
    font-size: 15px;
}
.card .front img
{
    width: 110px;
    height: 110px;
    margin: 20px 30px 50px 30px
}
.login_word
{
    margin:30px auto;
    border-bottom:2px solid rgba(53, 53, 231, 0.854);
    width:60px;
    font-weight: bold;
}
.not_registered_word
{
    margin-top: 35px;
    font-size: 14px;
}

.card .front form p
{
    margin-top: 20px;
    font-size: 15px;
}

.card .front span
{
    cursor: pointer;
    color:#FFB30E;
}
/*back card*/
.card .back
{
    z-index: 2;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.signup_word
{
    margin:45px auto 15px auto;
    border-bottom:2px solid rgba(53, 53, 231, 0.854);
    width:70px;
    font-weight: bold;
}

#signUp button
{
    background-color:#FFB30E; 
    padding: 12px 60px 12px 60px; 
    margin-top:30px
}