@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #000000;
    --main-font: 'Montserrat', sans-serif;
    --text-color: black;
}





.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
   
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

h4{
    font-family: var(--main-font);
    text-align: center;
    padding: 10px;
    color: var(--text-color);
    
}

h5{
    font-family: 'Padauk', sans-serif;
    text-align: center;
    font-size: 17px;
    opacity: 0.5;
    color: var(--text-color);

}

input{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-style: none;
    background-color: var(--secondary-color);
    font-size: 10px;
    font-weight: 600;
    color: var(--text-color);
}

.messages{
    font-family: var(--main-font);
    color: var(--text-color);
}

/* display: inline-block will help us to avoid the text from  */
.message-item span{
    display: inline-block;
    padding:10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.submit{
    padding: 8px;
    border-radius: 5px;
    font-family: var(--main-font);
    font-size: 15px;
    color: white;
    background-color: #3636C9;
    border-style: none;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;

  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #c7c786;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #3636C9;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  