
/* TIMELINE */
#timeline-container {
    /* background: #00112e;
    background: linear-gradient(171deg, rgba(0, 17, 46, 1) 0%, rgba(29, 21, 148, 1) 100%); */
    overflow: auto;
    padding: 60px 0;
}
#timeline-container .inner-container {
    max-width: 1000px;
    margin: 0 auto;
}
#timeline-container .inner-container .heading {
    text-align: center;
    font-family: var(--font-family-1);
    font-weight: 700;
    font-size: 3rem;
    color: #00112e;
    margin-top: 0;
}
.timeline {
    margin: 0 auto;
    position: relative;
    left: 120px;
    width: 80%;
    max-width: 900px;
    margin-top: 16px;
    margin-left: 5%;
}
.timeline-item {
    color: #00112e;
    font-family: var(--font-family-2);
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-left: 4px solid #00112e;
    border-bottom: 1px solid #00112e;
    position: relative;
    list-style-type: none;
    --item-width: calc(100%);
}
.timeline-item::after {
    content: attr(data-date);
    position: absolute;
    right: calc(var(--item-width) + 40px);
    top: 16px;
    float: right;
    font-weight: bold;
    white-space: nowrap;
}
.timeline-item::before {
    content: "";
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #00112e;
    position: absolute;
    left: -10px;
    top: 21px;
}
.timeline-item:last-child {
    border-bottom: none;
}
@media only screen and (max-width: 800px) {
    .timeline {
        margin: 0 auto;
        position: relative;
        left: 85px;
   }
    .timeline .timeline-item {
        font-size: 1.1rem;
   }
    .timeline .timeline-item::after {
        right: calc(var(--item-width) + 30px);
   }
}
@media only screen and (max-width: 800px) {
    .timeline-item {
        padding: 1rem 1.5rem 1rem 0.5rem;
   }
    .timeline-item::after {
        right: calc(var(--item-width) + 20px);
   }
}
